.YoutubePlayer {
  display: flex;
  flex-flow: column;
  flex: 2;
}

.videoContainer {
  flex: 1;
}

.searchbarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 70px;
}
