.input {
  background-color: #ebe9e9;
  border-radius: 20px;
  border: 2px solid #ebe9e9;
  color: #000;
  flex: 1;
  font-family: LatoHairline;
  font-size: 18px;
  font-weight: bold;
  height: 20px;
  margin: 10px;
  outline: none;
  padding: 10px 20px;
}

.focus {
  background-color: #fff;
  border: 2px solid #45ada8;
  transition: border 300ms;
}
