@font-face {
  font-family: LatoHairline;
  src: url("../assets/fonts/Lato-Hairline.ttf");
}

html,
body,
#content,
#app {
  height: 100%;
}

body {
  background-color: #fff;
  font-family: LatoHairline, sans-serif;
  margin: 0;
  text-align: center;
}

h1,
p {
  margin: 0;
}

ul {
  padding: 0;
}

#app {
  display: flex;
  flex-flow: row;
  flex: 1;
  height: 100vh;
}

#aside {
  display: flex;
  flex-flow: column;
  flex: 1.25;
}

/*CHAT*/
.chatMessage,
.username {
  padding: 10px;
}

.chatMessage {
  background-color: #f1f0f0;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  text-align: left;
  white-space: normal;
  max-width: 300px;
  word-break: break-word;
}

.self {
  flex-direction: row-reverse;
}

.self .chatMessage {
  background-color: #45ada8;
  color: #fff;
  font-weight: bold;
  margin: 0px 20px;
}

.self .username {
  display: none;
}
